<div class="container text-center" style="width: 480px">
    <div class="row g-2 justify-content-center">
      <div class="col-4">
        <div class="p-2">
          <button type="button" class="btn btn-primary btn-lg" (click)="sumarNumeros()">
            +
          </button>
        </div>
      </div>
      <div class="col-4">
        <div class="p-2">
          <button type="button" class="btn btn-primary btn-lg" (click)="restarNumeros()">
            -
          </button>
        </div>
      </div>
      <div class="col-4">
        <div class="p-2">
          <button type="button" class="btn btn-primary btn-lg" (click)="multiplicarNumeros()">
            *
          </button>
        </div>
      </div>
    </div>
      <div class="row g-2 justify-content-center">
      <div class="col-4">
        <div class="p-3">
          <button type="button" class="btn btn-primary btn-lg" (click)="dividirNumeros()">
            /
          </button>
        </div>
      </div>
      <div class="col-4">
        <div class="p-3">
          <button type="button" class="btn btn-primary btn-lg" (click)="exponenciarNumeros()">
            ^
          </button>
        </div>
      </div>
      <div class="col-4">
        <div class="p-3">
          <button type="button" class="btn btn-primary btn-lg" (click)="limpiarNumeros()">
            CE
          </button>
        </div>
      </div>
    </div>
    </div>